@model IEnumerable<Student>
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h1>@ViewData["Title"]</h1>

<p>About page</p>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.age)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var data = ViewBag.var6;
}
<table class="table"">
    <thead>
    <tr>
        <th>Name</th>
        <th>Designation</th>
        <th>City</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@data.name</td>
        <td>@data.city</td>
        <td>@data.designation</td>
    </tr>
    </tbody>
</table>

<h3>
    @ViewData["var1"]
    <br/>
    @TempData["var3"]
</h3>

@{
    foreach (var item in (string[])TempData["var4"])
    {
        <h4>@item</h4>
    }
}
