@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>contact</p>

@ViewBag.var2
@ViewData["var1"]
@TempData["var3"]

@*
@{
    foreach (var item in (string[])TempData["var4"])
    {
        <h4>@item</h4>
    }
}
*@