@model IEnumerable<MyFirstWeb.Models.Customer>
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>@ViewData["Title"]</h1>


<p>Home page </p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Degisnation</th>
            <th>City</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.name</td>
                <td>@item.gender</td>
                <td>@item.designation</td>  
                <td>@item.city</td>
            </tr>
        }
    </tbody>
</table>

                                                        @*for about page*@

@*tag helpers*@

<a href="Home/About">About page-1</a>
<br/>

@*ActionLink("link text","action method","controller")*@

@Html.ActionLink("About page-2","About","Home")

<br />

@*@Url.Action("action-method","controller") *@

<a href="@Url.Action("About","Home")"> About Page-3 </a>

<br/>

<a asp-asp-controller="Home" asp-action="About">About Page-4</a>

<br/>

                                                           @*for details*@

@*tag helpers*@

<a href="Home/Details/1">Details</a>

<br />

@*ActionLink("link text","action method","controller")*@

@Html.ActionLink("Details-2","Details","Home",new{id=1})

<br />

@*@Url.Action("action-method","controller") *@

<a href="@Url.Action("Details","Home",new{id=1})"> Details-3 </a>

<br />

<a asp-asp-controller="Home" asp-action="Details" asp-route-id="1">Details-4</a>

<br/>


<img src="~/images/computer.jpg" alt="computer" height="400" width="400"/>
<img src="~/images/logo2.jpg" alt="computer" height="400" width="400" />

