@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
 

@ViewBag.var1
<br/>
@ViewBag.var2

@{
    foreach (var item in ViewBag.var3)
    {
        <h5>@item</h5>
        <h5>@item</h5>
    }
}


@{
    foreach (var item in ViewBag.var4)
    {
        <h5>@item</h5>
    }
}


